<el-table
        :data="tableData"
        style="width: 100%">
    <el-table-column
            prop="date"
            label="Дата">
    </el-table-column>
    <el-table-column
            prop="name"
            label="Экспорт">
    </el-table-column>
    <el-table-column
            prop="name"
            label="Создал">
    </el-table-column>
    <el-table-column
            prop="name"
            label="Email">
    </el-table-column>
    <el-table-column
            prop="name"
            label="Статус">
    </el-table-column>
</el-table>