<el-row>
    <el-table :data="stuff"  
               stripe
               style="margin-top: 10px;"
               v-loading="loading" element-loading-spinner="fas fa-spinner fa-pulse fa-3x">
        <el-table-column type="index" label="№" width="80" align="center"></el-table-column>
        <el-table-column label="ФИО" min-width="300px">
            <template slot-scope="scope">
                <user-name :value="scope.row"></user-name>
            </template>
        </el-table-column>
        <el-table-column label="Телефон" min-width="200px">
            <template slot-scope="scope">
                <template v-if="scope.row.phone === null || scope.row.phone === ''">
                    <i>Не указано</i>
                </template>
                <template v-else>
                    <phone :value="scope.row.phone"></phone>
                </template>
            </template>
        </el-table-column>
        <el-table-column label="Должность" min-width="300px">
            <template slot-scope="scope">
                <template v-if="scope.row.post === null || scope.row.post === ''">
                    <i>Не указано</i>
                </template>
                <template v-else>
                    {{ scope.row.post }}
                </template>
            </template>
        </el-table-column>
        <el-table-column label="Филиал" min-width="200px">
            <template slot-scope="scope">
                {{ scope.row.point.name }}
            </template>
        </el-table-column>
        <el-table-column width="100px">
            <template slot-scope="scope">
                <el-button size="mini" 
                           icon="fas fa-edit" 
                           title="Редактировать" v-tippy
                           @click.native="$router.push('/stuff/edit/' + scope.row.id)">
                </el-button>
                <el-button type="danger" 
                           size="mini" 
                           icon="fas fa-lock" 
                           title="Закрыть доступ" v-tippy
                           @click.native="onDialogLock(scope.row)">
                </el-button>
            </template>
        </el-table-column>
    </el-table>

    <el-pagination background layout="prev, pager, next" 
                   :page-count="Number(stuffPageCount)"
                   class="pagination" 
                   @current-change="loadPage">
    </el-pagination>

    <el-dialog :visible.sync="dialogLock" width="350px">
        <el-row>
        Вы действительно хотите закрыть доступ сотруднику "<user-name :value="stuffView"></user-name>"?
        </el-row>
        <span slot="footer">
            <el-button @click="dialogLock = false">Отмена</el-button>
            <el-button type="danger" @click="deleteStuff(stuffView.id), dialogLock = false">Закрыть доступ</el-button>
        </span>
    </el-dialog>
</el-row>