<el-col :span="10" :offset="7">
    <el-row class="cash-types__title">Новый источник</el-row>
    <el-row>
        <el-form>
            <el-form-item :error="validate(clientSourceValid, 'name')">
                <el-input @keyup.enter.native='sendClientSource(newItem)' v-model="newItem.name" placeholder="Название"></el-input>
            </el-form-item>
            <el-form-item style="text-align: center">
                <el-button type="success" :loading="btnloader" @click="sendClientSource(newItem)">Добавить</el-button>
            </el-form-item>
        </el-form>
    </el-row>
    <el-row class="cash-types__title">Источники клиентов</el-row>
    <el-row v-loading="loading" element-loading-spinner="fas fa-spinner fa-pulse fa-3x">
        <div class="cash-types__item" v-for="item in clientSource">
            <div>
                <i class="fas fa-question-circle blue--text"></i>
                {{ item.name }}
            </div>
            <div>
                <el-button size="mini"
                           icon="fas fa-edit"
                           title="Редактировать" v-tippy
                           @click.native="onDialogEdit(item)">
                </el-button>
                <el-button size="mini" type="danger" 
                           icon="fas fa-times"
                           title="Удалить" v-tippy
                           @click.native="onDialogDelete(item)">
                </el-button>
            </div>
        </div>
    </el-row>

    <el-pagination background layout="prev, pager, next" 
                   :page-count="Number(clientSourcePageCount)"
                   class="pagination" 
                   @current-change="loadPage">
    </el-pagination>

    <el-dialog title="Изменение источника" :visible.sync="dialogEdit" width="350px">
        <el-form>
            <el-form-item>
                <el-input v-model="editItem.name" placeholder="Название"></el-input>
            </el-form-item>
        </el-form>    
        <span slot="footer">
            <el-button @click="dialogEdit = false">Отменить</el-button>
            <el-button type="primary" :loading="btnloader" @click="changeClientSource(editItem)">Изменить</el-button>
        </span>
    </el-dialog>

    <el-dialog :visible.sync="dialogDelete" width="350px">
        <el-row>
        Вы действительно хотите удалить "{{ editItem.name }}"?
        </el-row>
        <span slot="footer">
            <el-button @click="dialogDelete = false">Отмена</el-button>
            <el-button type="danger" @click="deleteClientSource(editItem.id), dialogDelete = false">Удалить</el-button>
        </span>
    </el-dialog>
</el-col>
