<v-layout row wrap class="footer">
    <v-flex md="9" lg="6">
        <div class="footer__content-row"> {{ nameCompany }} </div>
        <div class="footer__content-row">
            <div><a class="footer__link" href="https://vulcanm.ru/legal/offer"> Договор-оферта</a></div>
            <div><a class="footer__link" href="https://vulcanm.ru/blog"> Блог </a></div>
        </div>
        <div class="footer__content-row">
            <span class="footer__time"> Время работы: {{ time }} </span>
        </div>
    </v-flex>
    <v-flex>

    </v-flex>
</v-layout>
